@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /* Custom colors defined as CSS custom properties */
  --color-rose-brown: #a0522d;
  --color-primary-content-bg: #e6c3c3;
  --color-primary-form-bg: #c9a995;
  --color-primary-accent-orange: #eb9d69;
  --color-primary-form-label: #836262;

  --animate-blink: blink 1s infinite;

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

.typewriter-text {
  display: inline-block;
  position: relative;
}

.typewriter-cursor {
  display: inline-block;
  margin-left: 2px;
  color: #eb9d69;
}
